<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.coba.bkk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Controller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="Daftar" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".UserProfil.DataPribadi"
            android:label="Data Pribadi" />
        <activity
            android:name=".UserProfil.GantiPassword"
            android:label="Ganti Password" />
        <activity
            android:name=".Pendidikan.Pendidikan"
            android:label="Riwayat Pendidikan" />
        <activity
            android:name=".UserProfil.Nilai"
            android:label="Nilai" />
        <activity
            android:name=".UserProfil.Tentang"
            android:label="Tentang" />
        <activity
            android:name=".DetailLowongan"
            android:label="Detail" />
        <activity
            android:name=".Pekerjaan.Pekerjaan"
            android:label="Riwayat Pekerjaan" />
        <activity
            android:name=".AdminActivity"
            android:label="Admin" />
        <activity
            android:name=".AdminMenu.MgInformasi"
            android:label="Manajemen Informasi" />
        <activity
            android:name=".AdminMenu.FormInformasi"
            android:label="Tambah Informasi" />
        <activity
            android:name=".AdminMenu.MgAlumni"
            android:label="Manajemen Alumni" />
        <activity
            android:name=".AdminMenu.MgPelamar"
            android:label="Manajemen Pelamar" />
        <activity
            android:name=".AdminMenu.FormUpInformasi"
            android:label="Perbarui Informasi" />
        <activity
            android:name=".Pendidikan.PendidikanTambah"
            android:label="Tambah Pendidikan" />
        <activity
            android:name=".Pendidikan.PendidikanUbah"
            android:label="Perbarui Pendidikan" />
        <activity
            android:name=".Pekerjaan.PekerjaanTambah"
            android:label="Tambah Pendidikan" />
        <activity
            android:name=".Pekerjaan.PekerjaanUbah"
            android:label="Perbarui Pekerjaan"></activity>
    </application>

</manifest>