<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.can.bkk_master">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Controller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".DetailLowongan" />
        <activity android:name=".DetailLowonganHidden" />
        <activity android:name=".Tentang" />
        <activity android:name=".TentangValidasi" />
        <activity android:name=".Profil" />
        <activity android:name=".Register" />
        <activity android:name=".DataPribadi" />
        <activity android:name=".Pendidikan.Pendidikan" />
        <activity android:name=".Pekerjaan.Pekerjaan" />
        <activity android:name=".Pendidikan.PendidikanTambah" />
        <activity android:name=".Pendidikan.PendidikanUbah" />
        <activity android:name=".Pekerjaan.PekerjaanTambah" />
        <activity android:name=".Pekerjaan.PekerjaanUbah" />
        <activity android:name=".DetailIndustri" />
        <activity android:name=".UbahPassword" />
        <activity android:name=".FotoProfil"/>
        <activity android:name=".FotoIndustri">
        </activity>
    </application>

</manifest>